@import "../../styles/variaveis.scss";

.home-page {
  justify-content: center;
  align-items: center;
}

.article-home {
  display: grid;
  place-items: center;
}

@media (max-width: 767px) {
  .textos-de-introducao {
    width: 80dvw;
    text-align: center;
  }

  .textos-de-introducao p {
    margin-top: 5dvh;
  }
}
