$black: #1b1b1b;
$white-font: #dfdfe2;
$pink: #ef2d56;
$light-purple: #961ff1;
$violet: #50028f;
$purple: #250141;
$blue: #2c8ac4;
$dark-blue: #00325a;
$fluo-blue: #00c8e2;

$bold: 700;
$medium-bold: 500;
$light: 200;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  display: grid;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, $dark-blue 40%, $fluo-blue);
}

.nome-pagina {
  color: $white-font;
  text-decoration: underline;
  font-size: 1.8rem;
  margin-top: 5vh;
}

.link-de-retorno {
  position: absolute;
  left: 5vw;
  color: $pink;
  text-decoration: underline;
  font-size: 1.1rem;
}

p {
  font-size: 1.25rem;
}

//Referente ao Componente Navbar.jsx

.header-da-aplicacao {
  margin-top: 2vh;
}

.link-da-navbar {
  font-size: 1.4rem;
  font-weight: $medium-bold;
  text-decoration: none;
  color: $fluo-blue;
  margin: auto 3vw;
  position: relative;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;

  &:hover {
    border-bottom: 2px solid $fluo-blue;
  }
}

//Referente ao arquivo Home.jsx

.home-page {
  justify-content: center;
  align-items: center;
}

.article-home {
  display: grid;
  place-items: center;
}

.grid-redes-sociais {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  background-image: linear-gradient(to bottom, ($black 65%, $dark-blue));
  border-right: 1px solid $blue;
  width: 100px;
  height: 100dvh;
  top: 0;
  left: 0;
}

.btn-rede-social {
  align-items: center;
  justify-content: center;
  margin: 3vh auto;
  background-color: transparent;
  border: none;
}

.img-rede-social {
  width: 40px;
  height: 40px;

  &:hover {
    filter: drop-shadow(0px 0px 5px $blue);
    transition: 0.5s;
    cursor: pointer;
  }
}

.textos-de-introducao {
  width: 65vw;
  text-align: justify;
}

.textos-de-introducao p {
  color: $white-font;
  margin-top: 10dvh;
}

.quem-sou {
  margin: 10vh auto;
  text-align: center;
  width: 70vw;
}

.quem-sou > h1 {
  font-size: 1.6rem;
}

.quem-sou > p {
  font-weight: $medium-bold;
}

.foto-matheus {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 5vh;
}

//Referentes ao Tutoriais.jsx

.tutoriais-page {
  margin-top: 10dvh;
}

.filtros-tutoriais {
  margin-top: 3vh;
}

.filtros-tutoriais > h2 {
  color: $light-purple;
}

.select-filtros {
  margin: 2vh 3vw;
  width: 200px;
  height: 40px;
  background-color: $light-purple;
  font-size: 1.3rem;
  font-weight: $bold;
  color: $white-font;
  border: none;
  outline: none;
  border-radius: 10px;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }
}

.lista-de-tutoriais {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10vh auto;
}

.caixa-tutorial {
  display: grid;
  color: $white-font;
  width: 300px;
  height: 150px;
  background-color: $dark-blue;
  border: 2px solid $blue;
  margin: 10px;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 15px;
  transition: 0.3s linear;

  &:hover {
    border: 2px solid $fluo-blue;
  }
}

.mais-informacoes {
  font-size: 1.1rem;
  color: $fluo-blue;
  text-decoration: underline;
}

.nenhum-tutorial-encontrado {
  width: 350px;
  height: 150px;
  background-image: radial-gradient($light-purple 60%, $pink);
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.nenhum-tutorial-encontrado > p {
  color: $white-font;
}

//Referente ao arquivo DetalhesCursos.jsx

.box-do-tutorial {
  position: relative;
  margin: 15vh auto;
  width: 30vw;
  min-width: 300px;
  height: 55vh;
  background-color: $blue;
  overflow: hidden;
  border-radius: 10px;
}

.box-do-tutorial > h1 {
  font-size: 1.6rem;
  margin: 1vh auto;
  color: $white-font;
}

.box-do-tutorial > h2 {
  font-size: 1.4rem;
}

.lista-de-topicos {
  margin: 4vh auto;
  text-align: justify;
  display: grid;
  justify-content: center;
  font-size: 1.3rem;
  color: $white-font;
}

.instrutor-do-tutorial {
  font-size: 1.2rem;
  text-decoration: underline;
  color: $white-font;
  position: absolute;
  bottom: 11vh;
  margin: 0 auto;
  left: 1%;
  right: 1%;
}

.botao-de-matricula {
  position: absolute;
  left: 0;
  margin: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: $dark-blue;
  color: $white-font;
  border: none;
  font-size: 1.5rem;
  font-weight: $bold;
  transition: ease-in;

  &:hover {
    cursor: pointer;
    background-color: $black;
    transition: 0.5s;
  }
  &:not(:hover) {
    transition: 0.5s;
  }
}

@media (max-width: 767px) {
  .link-de-retorno {
    left: 3vw;
    margin-top: 5dvh;
  }

  .nome-pagina {
    margin-top: 5dvh;
  }
  //NavBar.jsx/

  .link-da-navbar {
    font-size: 1.3rem;
    margin: auto 5vw;
  }

  //Home.jsx//

  .textos-de-introducao {
    width: 80vw;
    text-align: center;
  }

  .textos-de-introducao p {
    margin-top: 5dvh;
  }

  .grid-redes-sociais {
    display: flex;
    position: relative;
    flex-direction: row;
    background: transparent;
    border: none;
    width: 100%;
    height: 10dvh;
    margin-top: 3dvh;
  }

  .btn-rede-social {
    align-items: center;
    justify-content: center;
    margin: 3vh 5dvw;
  }

  .img-rede-social {
    width: 35px;
    height: 35px;
  }

  .quem-sou > h1 {
    font-size: 1.5rem;
  }

  .foto-matheus {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 5vh;
  }
}
