    $black: #1b1b1b;
    $white-font: #dfdfe2;
    $pink: #ef2d56;
    $light-purple: #961ff1;
    $violet: #50028f;
    $purple: #250141;
    $blue: #2c8ac4;
    $dark-blue: #00325a;
    $fluo-blue: #00c8e2;
    
    $bold: 700;
    $medium-bold: 500;
    $light: 200;

